@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto B;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto M;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

body {
  background-color: #ededed;
}
.container-custom{
 display: flex;
 justify-content: center;
}

.section-1-card{
    margin: 1.5rem;
}
.section-1-img{
    max-width: 23.5rem;
    height: 21.688rem;
    overflow: hidden;
    border-radius: 10px;
}
.section-1-text{
    font-family: Roboto M, Times, Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 1rem;
}
.navStyle {
  font-family: Roboto, Times, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 24px;
  padding: 1.5rem 2rem;
}

.navNormal {
  color: #353535;
}

.navSale {
  color: #982a1c;
}

.navStyle:hover {
  color: #b73a2a;
  text-decoration: underline;
}
.logoStyle {
  margin-left: 7rem;
  width: 93px;
  height: 76px;
}

.hero-bg {
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 72rem;
}

.hero-text {
  font-family: Roboto, Times, Arial, Helvetica, sans-serif;
  margin-top: 55rem;
  margin-left: 7rem;
  color: white;
  font-size: 48px;
}

.saleBg {
  background-color: #1e2c20;
  height: 6.188rem;
}

.sale-text {
  font-family: Roboto, Times, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 24px;
  padding-top: 2.1rem;
}

.herotxt-bg {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 34.063rem;
  padding: 2.125rem;
}

.cookTitle {
  font-family: Roboto B;
  font-size: 64px;
}

.scSize{
    width: 23.5rem;
    height: 21.688rem;
    border-radius: 10px;
    transition: 10ms;
    object-fit: cover;
}
.s2cSize{
    width: 50.313rem;
    height: 39.5rem;

}
.scSize:hover{
    transform: scale(1.1);

}

.section-2-title{
    font-family: Roboto B, Times, Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-top: 1.5rem;
}

.section-2-text{
    font-family: Roboto, Times, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 0.5rem;
}

.color-select-txt1{
    font-family: Roboto M, Times, Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.selector-color-1{
    background-color: #EA2D2C;
    width: 1.361rem;
    height: 1.361rem;
    border-radius: 50px;
    margin-top: 3px;
    margin-left: 2.5px;
    
}
.color-border{
    width: 2rem;
    height: 2rem;
    border-radius: 30px;
    border: 2px solid black;
}

.container-custom-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
}
.section-2-card{
    grid-column: 1/2;
}